* {
    margin: 0;
    padding: 0;
}

@mixin text-truncate($line) {
    display: -webkit-box;
    -webkit-line-clamp: #{$line};
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.list-task {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 7px;

    &__group {
        background: #e9f2f4;
        height: 600px;
        padding: 0.5rem;
        border-radius: 5px;
        overflow-y: scroll;
        border: 1px solid #e9f2f4;
        position: relative;

        &__title {
            text-transform: capitalize;
            margin-bottom: 0.5rem;
            font-weight: 500;
            font-size: 20px;
            // position: fixed;
        }

        &__item {
            background-color: #ffffff;
            min-height: 150px;
            border-radius: 5px;
            color: #282c34;
            transition: all 0.2s linear;

            .title {
                @include text-truncate(1);
            }

            .description {
                @include text-truncate(2);
            }

            .notstarted {
                color: black;
            }
            .pending {
                color: orange;
            }
            .inprogress {
                color: green;
            }
            .delayed {
                color: red;
            }
            .done {
                color: blue;
            }

            .high {
                background-color: orange;
                opacity: 0.25;
            }
            .medium {
                background-color: #c2c20c;
                opacity: 0.7;
            }
            .critical {
                background-color: red;
            }
            .low {
                background-color: green;
            }

            .btn-status,
            .btn-priority {
                margin-top: 6px;
                border-radius: 4px;
                font-size: 0.8rem;
                position: relative;
                font-weight: 500;
                text-transform: capitalize;
                padding: 4px 0;
                min-width: 80px;
            }

            .btn-status::before {
                content: "";
                border-radius: inherit;
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: currentColor;
                top: 0;
                left: 0;
                opacity: 0.25;
            }

            .btn-priority {
                color: white;
            }
        }

        .current {
            background: #282c34;
            color: #979595;
        }

        &__item:not(:last-of-type) {
            margin-bottom: 0.5rem;
        }
    }

    &__group::-webkit-scrollbar {
        display: none;
    }

    &__group {
        -ms-overflow-style: none;
        scrollbar-width: none; /* Firefox */
    }
}

@media screen and(max-width: 1280px) {
    .task-board {
        margin: 0px 10px;
    }
    .drapNdrop {
        &__feature {
            margin: 0px 10px;
            margin-bottom: 10px;
        }
    }
}

@media screen and(max-width: 1080px) {
    .dialog {
        grid-template-columns: 1fr;

        .image {
            display: none;
        }
    }
}

@media screen and(max-width: 600px) {
    .task-board {
        display: block;

        &__title {
            text-align: center;
        }

        &__feature {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .dialog {
        .btn-close {
            right: 15px;
            top: 5px;
        }

        .form-task {
            margin-top: 0;
            height: 100%;

            .content {
                font-size: 20px;
            }

            .title {
                margin-top: 10px;
            }
            div p {
                margin-bottom: 4px;
            }

            .select-value {
                display: block;
                margin-top: 8px;

                div {
                    margin-top: 8px;
                }
            }

            .description {
                margin-top: 8px;
            }
        }
    }
}
