* {
    margin: 0;
    padding: 0;
}

@mixin text-truncate($line) {
    display: -webkit-box;
    -webkit-line-clamp: #{$line};
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.list-task {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 7px;

    &__group {
        background: #e9f2f4;
        max-height: 600px;
        height: 600px;
        padding: 0.5rem;
        border-radius: 5px;
        overflow-y: scroll;
        border: 1px solid #e9f2f4;
        position: relative;

        &__title {
            text-transform: capitalize;
            margin-bottom: 0.5rem;
            font-weight: 500;
            font-size: 20px;
            // position: fixed;
        }

        &__item {
            background-color: #ffffff;
            min-height: 150px;
            border-radius: 5px;
            color: #282c34;
            transition: all 0.2s linear;

            .title {
                @include text-truncate(1);
            }

            .description {
                @include text-truncate(2);
            }

            .notstarted {
                color: black;
            }
            .pending {
                color: orange;
            }
            .inprogress {
                color: green;
            }
            .delayed {
                color: red;
            }
            .done {
                color: blue;
            }

            .high {
                color: orange;
            }
            .medium {
                color: #c2c20c;
            }
            .critical {
                color: red;
            }
            .low {
                color: green;
            }

            .btn-status {
                margin-top: 6px;
                border-radius: 4px;
                font-size: 0.8rem;
                position: relative;
                font-weight: 500;
                text-transform: capitalize;
                padding: 4px 0;
                min-width: 80px;
            }

            .btn-status::before {
                content: "";
                border-radius: inherit;
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: currentColor;
                top: 0;
                left: 0;
                opacity: 0.25;
            }
        }

        .current {
            background: #282c34;
            color: #979595;
        }

        &__item:not(:last-of-type) {
            margin-bottom: 0.5rem;
        }
    }

    &__group::-webkit-scrollbar {
        display: none;
    }

    &__group {
        -ms-overflow-style: none;
        scrollbar-width: none; /* Firefox */
    }
}
